<div class="categdespesas index">
      <h2>Fornecedores </h2>
    <%= form_tag fornecedors_path( format:"html"), :method => 'get' do %>  
      <div class="row">
            <div class="col-lg-5  form-group">  
                <%= text_field_tag :nome, params[:nome], :class => 'form-control', :placeholder=>"Digite o nome do Fornecedor para pesquisar" %>  
              </div>
              <div class="col-lg-2 form-group">
                <%= submit_tag "Pesquisar", :class => "btn btn-primary colorprimarybtn" %>
              </div>

           <div class="col-lg-2 form-group">  
                  <span class="input-group-btn" style="display: inline-block;"><button class="btn btn-primary colorprimarybtn" type="button" onclick="javascript: location.href='<%= new_fornecedor_path %>';"><i class="fa fa-plus-circle"></i> Novo Fornecedor</button></span>
            </div>
        </div>
      </div>
      <%end%>
    </div>
  <div class="table-responsive">
  <table class="table table-hover table-striped" cellpadding="0" cellspacing="0">
      <thead>
      <tr>
      <th>COD</th>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Email</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @fornecedors.each do |fornecedor| %>
      <tr>
        <td><%= "%06d"%fornecedor.id %></td>
        <td><%= fornecedor.nome %></td>
        <td><%= fornecedor.telefone %></td>
        <td><%= fornecedor.email %></td>
        <td><%= link_to 'Visualizar', fornecedor %></td>
        <td><%= link_to 'Alterar', edit_fornecedor_path(fornecedor) %></td>   
        <td><%= link_to 'Excluir', fornecedor, method: :delete,remote: true, class: 'remove-tag', data: { confirm: 'Deseja excluir o fornecedor?' } %></td>
      </tr>
    <% end %>
      </tbody>
  </table>
</div>

<%= paginate @fornecedors%>
</div>
