<p id="notice"><%= notice %></p>

<div class="row">  
      <div class="col-lg-8 form-group"> 
          <label class = 'control-label'>Nome</label>
          <input readonly="true" class = 'form-control' value="<%= @produto.nome %>" />  
      </div>
     
 
      <div class="col-lg-2 form-group"> 
          <label class = 'control-label'>Tipo</label>
          <input readonly="true" class = 'form-control' value="<%= @produto.tipo %>" />  
      </div>
      
  
      <div class="col-lg-4 form-group"> 
          <label class = 'control-label'>Validade</label>
          <input readonly="true" class = 'form-control' value="<%= @produto.data_validade %>" />  
      </div>
    

      <div class="col-lg-3 form-group"> 
          <label class = 'control-label'>Marca</label>
          <input readonly="true" class = 'form-control' value="<%= @produto.marca %>" />  
      </div>
      </div>

      <div class="col-lg-7 form-group"> 
          <label class = 'control-label'>Preco</label>
          <input readonly="true" class = 'form-control' value="<%= @produto.preco %>" />  
      </div>
  </div>

      <div class="col-lg-2 form-group"> 
          <label class = 'control-label'>Quantidade</label>
          <input readonly="true" class = 'form-control' value="<%= @produto.qtd %>" />  
      </div>
      
 
      <div class="col-lg-5 form-group"> 
          <label class = 'control-label'>Fornecedor</label>
          <input readonly="true" class = 'form-control' value="<%= @produto.fornecedor.nome %>" />  
      </div>
      </div>
<div class="row">
                <div class="col-lg-7 form-group">  
                  <%= link_to 'Alterar Produto', edit_produto_path(@produto), :class => "btn btn-primary colorprimarybtn" %>
                  <%= link_to 'Voltar',  produto_path, :class => "btn btn-primary colorprimarybtn"%>
                </div>
    </div>